{% load staticfiles %}

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				{% comment %} footer links {% endcomment %}
				<div class="footer-links is-flex">
					<div class="col-sm-4 col-xs-12">
						<p><a href="#">關於我們</a></p>
						<p><a href="#">Link2</a></p>
						<p><a href="#">Link3</a></p>
					</div>
					<div class="col-sm-4 col-xs-12">
						<p><a href="#">Link4</a></p>
						<p><a href="#">Link5</a></p>
					</div>
					<div class="col-sm-4 col-xs-12">
						<p><a href="#">Link6</a></p>
						<p><a href="#">Link7</a></p>
					</div>
				</div>

				{% comment %} news letter {% endcomment %}
				<form id="newslatter_form" action="." method="post">
					<div class="form--row">
						<div class="form--row__input">
							<label>訂閱我們的電子報</label>
							<div class="input--icon">
								<input type="email" name="email" placeholder="您的電子郵件電址" id="newsletter_email_field" required>
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" 
								class="iconify iconify--mdi" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" 
								viewBox="0 0 24 24" data-icon="mdi:email-outline">
									<path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10z" fill="currentColor"></path>
								</svg>
							</div>
							<small>請在上方輸入您的電子郵件地址</small>
						</div>
						<button type="submit" id="submit_newsletter" name="submit" value="Submit"
							class="button button--primary">訂閱</button>
					</div>
				</form>
			</div>

			{% comment %} external links {% endcomment %}
			<div class="col-sm-4">
				<img src="{% static 'img/text-logo.png' %}" alt="Education Portal">
				<div class="external-links">
					<div class="social-media">
						<a href="#" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
							aria-hidden="true" role="img" class="iconify iconify--mdi" width="1em" height="1em" 
							preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="mdi:facebook">
								<path d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02z" fill="currentColor"></path>
							</svg>
						</a>
						<a href="#" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
							aria-hidden="true" role="img" class="iconify iconify--ant-design" width="1em" height="1em" 
							preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" data-icon="ant-design:twitter-circle-filled">
								<path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4c0 146.8-111.8 315.9-316.1 315.9c-63 0-121.4-18.3-170.6-49.8c9 1 17.6 1.4 26.8 1.4c52 0 99.8-17.6 137.9-47.4c-48.8-1-89.8-33-103.8-77c17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35c25.1-4.7 49.1-14.1 70.5-26.7c-8.3 25.7-25.7 47.4-48.8 61.1c22.4-2.4 44-8.6 64-17.3c-15.1 22.2-34 41.9-55.7 57.6z" fill="currentColor"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>