{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}Education Portal{% endblock title %}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block head %}
	{% endblock head %}

	<link rel="stylesheet" href="{% static 'css/bootstrap-3.4.1.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body id="top">
	<div class="contant-footer-wrapper">
		{% block content_wrapper %}
			<div {% block page_id %}id="content_wrapper"{% endblock page_id %}>
				{% block top_bar %}
					{% include 'portal/components/header.html' %}
				{% endblock top_bar %}

			</div>
		{% endblock content_wrapper %}
	</div>

	<script src="{% static 'js/vendor/jquery-3.5.1.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-ui-1.12.1.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap-3.4.1.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-placeholder-2.0.8.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-colorbox-1.5.13.js' %}"></script>
	<script src="{% static 'js/vendor/iconify-2.0.3.js' %}"></script>

	{% block scripts %}
	{% endblock scripts %}
</body>

</html>
