.footer {
  padding: 4.5rem 0 4.5rem 0;
  background-color: #131022;
  box-shadow: 0 -2px 7px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.is-flex img {
  align-self: center;
}

.is-flex-item {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.footer .footer-links {
  margin: 0 -1.5rem 0 -1.5rem;
  text-align: left;
}

.is-flex [class^="col-"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

p,
div#ot-sdk-cookie-policy {
  padding: 1rem 0 1rem 0;
  margin: 0;
}

.footer p {
  font-size: 1.7rem;
}

.footer p,
.footer p a,
.footer label,
.footer small,
.form--register--indep-student a {
  color: rgba(255, 255, 255, .85);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.footer p a:hover,
.footer p a:active,
.footer p a:focus,
.footer label a,
.footer label a:hover,
.footer label a:active,
.footer small a,
.footer small a:hover,
.footer small a:active,
.form--register--indep-student a:hover,
.form--register--indep-student a:active {
  border: none;
  color: #6366f1;
  text-decoration: none;
  outline: 0;
}

.footer form {
  margin: 4.5rem 0 4.5rem 0;
  padding: 0;
}

.form--row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.form--row .form--row__input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.footer .form--row__input {
  flex: 1;
}

.form--row .form--row__input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.footer label,
.footer .copyright {
  font-size: 1.6rem;
}

.footer p,
.footer label {
  padding: 0 0 1rem 0;
  font-weight: 600;
  margin: 0;
}

.footer p,
.footer label,
.footer small {
  color: rgba(255, 255, 255, .85);
}

.footer input[type="email"] {
  border: none;
  border-radius: 0.75rem;
  margin: 0;
  vertical-align: middle;
}

.form--row .iconify {
  font-size: 2.4rem;
  margin: 0 1.5rem 0 0;
  position: absolute;
}

.footer small {
  padding: 0 0 1rem 0;
}

.footer small {
  font-size: 1.2rem;
}

.footer .button {
  padding: 0.9rem 1.5rem 1.1rem 1.5rem;
  margin: 0.5rem 2rem 0 2rem;
  border: 0;
}

.footer .external-links {
  margin: 2rem 0 2rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer .social-media {
  font-size: 5.8rem;
  align-items: center;
  display: flex;
}

.footer .social-media a {
  margin: 0 2rem 0 0;
}

.footer .social-media a,
.footer .social-media a:hover {
  color: #fff;
  display: flex;
  text-decoration: none;
}
