.form--login {
  margin: 3rem auto 5rem;
  padding: 3rem 0;
  text-align: center;
  width: 40%;
}

.form--login label {
  color: rgba(255, 255, 255, .7);
}

.form--register--teacher, .form--register--indep-student {
  background-color: rgba(255, 255, 255, .05);
  color: rgba(255, 255, 255, .7);
}

.form--register--indep-student {
  background-color: #131022;
}

.form--register--indep-student input[type="text"]::placeholder,
.form--register--indep-student input[type="email"]::placeholder,
.form--register--indep-student input[type="password"]::placeholder {
  color: rgba(255, 255, 255, .3);
}