/* global rules */
body {
	color: rgba(255, 255, 255, .85);
}

a {
	color: rgba(255, 255, 255, .85);
	text-decoration: none;
}

img {
	max-height: 100%;
	max-width: 100%;
}

/* end global rules */


/* content-footer-wrapper start */
.content-footer-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

/* content-footer-wrapper end */


/* menu start */
.menu {
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1)
}

.menu a {
	display: flex;
	align-items: center;

	/* 不指定的話就會照原本元素的大小顯示，可能會導致超出父親或小於父親很多 */
	height: 100%;
}

.logo {
	padding: 1.5rem 7rem 1.5rem 1.5rem;
}

/* menu end */


/* button start */
.button {
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
	border: 0;
	min-width: 150px;
}

.button,
.button:hover,
.button:active,
.button:focus {
	text-decoration: none;
}

.button--menu--primary {
	font-size: 2.7rem;
	margin: 0 4rem 0 1rem;
}

.button--menu {
	transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.button--menu:hover,
.button--menu:focus {
	color: #6366f1;
	text-decoration: none;
	outline: 0;
}

.button--primary {
	color: #fff;
	background-color: #6366f1;
	border-color: #6366f1;
	border-radius: 0.75rem;
	padding: 1rem 1.5rem 1rem 1.5rem;
	transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
	color: #fff;
	background-color: #4044ee;
	border-color: #4044ee;
}

.button--register {
	padding: 1rem 3rem 1rem 3rem;
}

/* button end */

/* media rules */
/* menu start */
@media (min-width: 1200px) {
	.menu {
		height: 100px;
	}

	.menu .logo {
		height: 100%;
	}

	.menu .menu__brand {
		margin: 0 3.5rem 0 0;
	}
}

@media (min-width: 992px) {
	.menu {
		background-color: #131022;
		display: flex;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1001;
	}

	.menu__brand {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.menu__brand img {
		max-width: none;
	}

	.menu__left-side {
		align-items: center;
		display: flex;
	}

	.menu .button--register {
		margin: 0 3rem 0 0;

		/* 元素本身是 flex layout，所以裡面的元素都會變成 flex item，包括文字
		所以在這裡裡面的文字就會居中 */
		justify-content: center;
	}

	.menu .button--register,
	.menu .button--header--login {
		padding: 1rem 1.5rem 1rem 1.5rem;
		width: 155px;
		height: 45px;
	}
}

@media (min-width: 768px) {
	.menu__right-side {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.menu {
		height: 80px;
	}

	.menu .logo {
		padding: 1.5rem 4.5rem 1.5rem 1.5rem;
	}
}

/* menu end */


@media (min-width: 1400px) {
	html {
		font-size: 10px;
	}

	body {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	.content-footer-wrapper {
		padding-top: 100px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.content-footer-wrapper {
		padding-top: 80px;
	}
}