/* global rules */
body {
  color: rgba(255, 255, 255, .85);
}

a {
  color: rgba(255, 255, 255, .85);
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

form {
  padding: 2rem 0 3rem;
}

small {
  font-size: 80%;
}

h4 {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: 500;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
  margin: 1rem 0 1rem 0;
  padding: 0 1rem 0 1rem;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, .05);
  height: 42px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: 0;
  background-color: #fff;
  color: #585c7b;
}

.input--icon {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.input--icon input[type="text"],
.input--icon input[type="password"],
.input--icon input[type="email"] {
  padding: 0 4rem 0 1.5rem;
}

.input--icon > .iconify {
  color: #585c7b;
}

.content {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), #131022;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

section button, section .button {
  margin: 3rem 2rem 0;
}

.background {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* message style */
#messages {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.d-invisibility {
  opacity: 0 !important;
}

.d-none {
  display: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.sub-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}

.sub-nav--message {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #614092;
  color: #fff;
  border-radius: 0.75rem;
  z-index: 1000;
}

.sub-nav .material-icons-outlined.md-32 {
  font-size: 3.2rem;
}

.align-items-center {
  align-items: center !important;
}

.sub-nav .x-icon:hover {
  cursor: pointer;
}

.nonfield {
  font-size: 2rem;
  color: #d60026;
  font-style: italic;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}
/* end global rules */


/* content-footer-wrapper start */
.content-footer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* content-footer-wrapper end */


/* button start */
button,
.button {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  border: 0;
  min-width: 150px;
}

.button,
.button:hover,
.button:active,
.button:focus {
  text-decoration: none;
}

.button--menu--primary {
  font-size: 2.7rem;
  margin: 0 4rem 0 1rem;
}

.button--menu {
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.button--menu:hover,
.button--menu:focus {
  color: #6366f1;
  text-decoration: none;
  outline: 0;
}

.button--primary {
  color: #fff;
  background-color: #6366f1;
  border-color: #6366f1;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
  color: #fff;
  background-color: #4044ee;
  border-color: #4044ee;
}

.button--register {
  padding: 1rem 3rem 1rem 3rem;
}

.button--regular,
.ui-dialog-buttonset button {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.button--secondary {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background-color: transparent;
  border: 2px solid;
}

.button--dropdown {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  outline: none;
  height: 42px;
}

.button--shadow {
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(99, 102, 241, 0.9);
}

/* button end */


/* media rules */
@media (min-width: 1400px) {
  html {
    font-size: 10px;
  }

  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .content-footer-wrapper {
    padding-top: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-footer-wrapper {
    padding-top: 80px;
  }
}